.my-btn {
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
}

.container-filter {
  height: 100vh;
  width: 100vw;
}

.bg-clr1 {
  background-color: rgb(126, 255, 219) !important;
}

.bg-clr2 {
  background-color: rgb(255, 157, 226) !important;
}

.bg-clr3 {
  background-color: rgb(255, 228, 119) !important;
}

.card-height {
  min-height: 250px;
}

.close {
  width: 20px;
  height: 20px;
}
